[submodule "libraries/openfbx"]
	path = libraries/openfbx
	url = https://github.com/nem0/OpenFBX
[submodule "libraries/stb"]
	path = libraries/stb
	url = https://github.com/nothings/stb
[submodule "libraries/vk-boostrap"]
	path = libraries/vk-boostrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "libraries/vma"]
	path = libraries/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "libraries/eastl"]
	path = libraries/eastl
	url = https://github.com/electronicarts/EASTL/
