[submodule "libraries/spirv-cross"]
	path = libraries/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "libraries/openfbx"]
	path = libraries/openfbx
	url = https://github.com/nem0/OpenFBX
